p {
  color: red;
  font-family: helvetica;
  text-align: center;
}

nav {
  font-family: helvetica;
  text-align: center;
  background-color: gray;
  color: white;
  width: 800px;
}

h1 {
  text-align: center;
  font-family: helvetica;
  font-size: 60px;
}
