header {
  background-color: #88B3CA;
  font-family: Helvetica;
  float: top;
  padding: 30px;
  text-align: center;
}

aside {
 float: left;
 background-color: #DDDDDE; 
 width: 200px;
}


h1 {
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: 68px;
}


li {
  font-family: helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

h3 {
  font-size: 30px;
}

.date {
  line-height: .6;
}

#contact{
  padding-bottom: 25px;
  text-align: center;
  font-family: helvetica;
  font-size: 25px;
  
}

#container-technical {
  padding: 15px;
  font-family: helvetica;
  margin-bottom: 150px;
  margin-left: 100px;
}

#container-work {
  padding: 20px;
  margin-top: 10px;
  margin-right: 100px;
  margin-left: 100px;
  font-family: helvetica; sans-serif;
  border-style: solid;
  border-color: #DDDDDE;
  border-radius: 3%;
  background-color: #DDDDDE;
  box-shadow: 1px 2px 2px #000;
  
}

#content-RedBalloon {
  margin-top: 25px;
}

#content-midwest {
  margin-top: 30px;

}

#content-braun1 {
  margin-top: 30px;
 
}

#content-braun2 {
  margin-top: 30px;
  
}

#content-braun3 {
  margin-top: 30px;

}

#content-patio {
  margin-top: 30px;
  margin-bottom: 25px;
 
}

#content-education {
  margin-top: 25px;
  margin-bottom: 30px;
  margin-left: 100px;
  font-family: helvetica;
  line-height: 1;
}

.content-date {
  line-height: .6;
  font-family: helvetica;
  margin-left: 100px;
  
}
